<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navbar">
    <div class="menu">
        <a th:href="@{/feed}" th:classappend="${#request.getRequestURI() == '/feed' ? 'nav-active' : ''}">Home</a>
        <a th:href="@{/discover}" th:classappend="${#request.getRequestURI() == '/discover' ? 'nav-active' : ''}">Discover</a>
        <a th:href="@{/logout}">Logout</a>
        <a th:href="@{/profile}" th:classappend="${#request.getRequestURI() == '/profile' ? 'nav-active' : ''}">Me</a>

        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/roles}" th:classappend="${#request.getRequestURI() == '/roles' ? 'nav-active' : ''}">Roles</a>
            <span th:text="|Welcome ADMIN, ${currentLoggedUser.username}|"></span>
        </th:block>

        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
            <span th:text="|Welcome, ${currentLoggedUser.username}|"></span>
        </th:block>
    </div>
</th:block>