* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header,
footer {
    text-align: center;
    background: #cfcfcf;
    height: 40px;
    vertical-align: middle;
}

header>*,
footer>* {
    vertical-align: middle;
    line-height: 40px;
}

#main>div {
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

.menu {
    background: #4d4d4d;
}

.menu>a {
    color: #e0e0e0;
    text-decoration: none;

    padding: 5px 10px;
}

.menu>span {
    color: #e0e0e0;
}

.menu a:nth-of-type(3),
.menu a:nth-of-type(4),
a:nth-of-type(5),
.menu span {
    padding: 1px 10px;
    float: right;
}

.menu>a:hover {
    background: #7f7f7f;
}

.nav-active {
    color: rgb(76, 151, 170) !important;
}

.loading {
    padding: 10px;
}

.chirps {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.chirp {
    position: relative;
    border-top: 1px solid #e0e0e0;
}

.titlebar {
    overflow: auto;
    padding: 10px;
}

.titlebar-roles {
    overflow: auto;
    padding: 10px;
    text-align: center;
}

.chirp-author {
    font-weight: bold;
}

.chirp-time {
    float: right;
}

.chirp-time>a,
.user-details>a {
    text-decoration: none;
}

.chirp>p {
    padding: 10px;
    word-break: break-all;
}

.userbox {
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    overflow: auto;
    position: relative;
}


.user-details {
    vertical-align: bottom;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #7f7f7f;
}

.chirper {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
    vertical-align: bottom;
    position: relative;
}

#formSubmitChirp {
    text-align: right;
    margin: 10px;
    display: inline-block;
    width: 300px;
}

.chirp-input {
    resize: none;
    width: 300px;
    height: 5em;
    display: block;
}

#btnSubmitChirp {
    width: 75px;
    height: 25px;
    background: #6592bf;
    color: #ffffff;
    border: none;
    display: inline-block;
    margin-top: 5px;
}

#btnSubmitChirp:hover {
    background: #83bef7;
    cursor: pointer;
}

.chirp-author {
    color: #6592bf;
    text-decoration: none;
}

.chirp-author:hover {
    color: #83bef7;
}

.chirp-time {
    color: #7f7f7f;
}

#btnFollow,
#btnAction {
    margin: 2px;
    padding: 5px;
    background: #6592bf;
    color: #ffffff;
    display: inline-block;
}

#btnFollow:hover {
    background: #83bef7;
}

#btnUnfollow {
    margin: 10px;
    padding: 5px 10px;
    background: #6592bf;
    color: #ffffff;
    display: inline-block;
}

#btnUnfollow:hover {
    background: #f79c97;
}

.form {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    max-width: 200px;
}

.form>* {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.form>input[type="submit"] {
    border: 0;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #6592bf;
    color: #ffffff;
}

.form>input[type="submit"]:hover {
    background: #83bef7;
    cursor: pointer;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    word-break: break-all;
    text-align: center;
}

table#userlist tr:nth-child(even) {
    background-color: #eee;
}

table#userlist tr:nth-child(odd) {
    background-color: #fff;
}

table#userlist th {
    background-color: #4d4d4d;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.not-found {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: gray;
}

.not-found p:nth-child(1) {
    font-size: 100px;
}

.not-found p:nth-child(2) {
    font-size: 20px;
}

.error {
    color: red;
    font-family: "Harlow Solid Italic";
}