<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <th:block th:replace="fragments/header"></th:block>

    <th:block th:replace="fragments/navbar"></th:block>

    <div class="content">
        <div class="chirps">
            <h2 class="titlebar">Discover</h2>
            <div id="userlist">

                <div class="userbox" th:each="user : ${allUsers}">
                    <div><a th:href="@{'/profile/' + ${user.username}}" class="chirp-author" th:text="*{user.username}"></a></div>

                    <div class="user-details">
                        <span th:text="${user.getChirpsCounter() + ' chirps'}"></span> | <a class="modal-link" th:href="@{/api/followingList/{id}(id = ${user.id})}" th:text="${user.getFollowingCounter() + ' following'}"></a> | <a class="modal-link" th:href="@{/api/followersList/{id}(id = ${user.id})}" th:text="${user.getFollowersCounter() + ' followers'}"></a>
                    </div>
                </div>
            </div>
            <div id="myModal" class="chirps modal">
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <h2 class="titlebar"></h2>

                    <div class="userbox-modal"></div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer"></th:block>
</div>
<script th:src="@{/js/modal-fetch-data.js}"></script>
<script th:src="@{/js/modal-window.js}"></script>
</body>
</html>