<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <th:block th:replace="fragments/header"></th:block>

    <th:block th:replace="fragments/navbar"></th:block>

    <div class="content">
        <div id="chirps" class="chirps">
            <h2 class="titlebar">Chirps from all followed users</h2>
            <article class="chirp" th:each="chirp : ${allChirps}">
                <div class="titlebar">
                    <a th:href="@{'/profile/' + ${chirp.author.username}}" class="chirp-author" th:text="*{chirp.author.username}"></a>
                    <span class="chirp-time">
                        <a th:href="@{/chirp/listLikes/{id}(id = ${chirp.id})}" th:text="${'Likes: ' + chirp.getUserLikesCounter()}"></a> |
                        <a th:href="@{/chirp/like/{id}(id = ${chirp.id})}"><i class="fas fa-thumbs-up"></i></a> |
                        <th:block th:if="${user.isAuthor(chirp)}">
                            <a th:href="@{/chirp/edit/{id}(id = ${chirp.id})}"><i class="fas fa-edit"></i></a> |
                            <a th:href="@{/chirp/delete/{id}(id = ${chirp.id})}"><i class="fas fa-trash"></i></a> |
                        </th:block>
                        <th:block th:text="${chirp.getTimeAgo()}"/>
                    </span>
                </div>
                <p th:text="*{chirp.content}"</p>
            </article>
        </div>
    </div>

    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>