<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <th:block th:replace="fragments/header"></th:block>

    <th:block th:replace="fragments/navbar"></th:block>

    <div class="content">
        <div class="chirper">

            <h2 class="titlebar" th:text="*{user.username}"></h2>

            <a id="btnFollow" class="chirp-author" href="#">Follow</a>

            <div id="userProfileStats" class="user-details">
                <span th:text="${user.chirpsCounter + ' chirps'}"></span> | <span>0 following</span> | <span>2 followers</span>
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar" th:text="${user.username + 's chirps'}"></h2>
            <article class="chirp" th:each="chirp : ${user.chirps}">
                <div class="titlebar">
                    <a th:href="@{'/profile/' + ${chirp.author.username}}" class="chirp-author" th:text="*{chirp.author.username}"></a>
                    <span class="chirp-time">
                        <!--<a th:href="@{/like}">Likes: |</a>-->
                        <a th:href="@{/chirp/edit/{id}(id = ${chirp.id})}"><i class="fas fa-edit"></i></a> |
                        <a th:href="@{/chirp/delete/{id}(id = ${chirp.id})}"><i class="fas fa-trash"></i></a> |
                        <th:block th:text="${chirp.dateAdded}"/>
                    </span>
                </div>
                <p th:text="*{chirp.content}"</p>
            </article>
        </div>
    </div>

    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>