<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <th:block th:replace="fragments/header"></th:block>

    <th:block th:replace="fragments/navbar"></th:block>

    <div class="content">
        <div class="chirper">

            <h2 class="titlebar" th:text="*{user.username}"></h2>

            <a th:if="${currentLoggedUser.isUserFollowed(user)}" th:href="@{/user/unfollow/{id}(id = ${user.id})}" id="btnFollow" class="chirp-author">Unfollow</a>
            <a th:unless="${currentLoggedUser.isUserFollowed(user)}" th:href="@{/user/follow/{id}(id = ${user.id})}" id="btnFollow" class="chirp-author">Follow</a>

            <div id="userProfileStats" class="user-details">
                <span th:text="${user.getChirpsCounter() + ' chirps'}"></span> | <a class="following-list" th:href="@{/user/followingList/{id}(id = ${user.id})}" th:text="${user.getFollowingCounter() + ' following'}"></a> | <a class="followers-list" th:href="@{/user/followersList/{id}(id = ${user.id})}" th:text="${user.getFollowersCounter() + ' followers'}"></a>
            </div>

            <div id="myModal" class="chirps modal">
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <h2 class="titlebar"></h2>

                    <div class="userbox-modal"></div>
                </div>
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar" th:text="${user.username + 	'''s chirps'}"></h2>
            <article class="chirp" th:each="chirp : ${user.chirps}">
                <div class="titlebar">
                    <a th:href="@{'/profile/' + ${chirp.author.username}}" class="chirp-author" th:text="*{chirp.author.username}"></a>
                    <span class="chirp-time">
                        <a class="modal-link" th:href="@{/chirp/listLikes/{id}(id = ${chirp.id})}" th:text="${'Likes: ' + chirp.getUserLikesCounter()}"></a> |
                        <a th:href="@{/chirp/like/{id}(id = ${chirp.id})}"><i class="fas fa-thumbs-up"></i></a> |
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/chirp/edit/{id}(id = ${chirp.id})}"><i class="fas fa-edit"></i></a> |
                            <a th:href="@{/chirp/delete/{id}(id = ${chirp.id})}"><i class="fas fa-trash"></i></a> |
                        </th:block>
                        <th:block th:text="${chirp.getTimeAgo()}"/>
                    </span>
                </div>
                <p th:text="*{chirp.content}"</p>
            </article>
            <div class="chirp" th:if="${#lists.isEmpty(user.chirps)}">
                <span class="loading">The user does not have any chirps!</span>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer"></th:block>
</div>
<script th:src="@{/js/modal-fetch-data.js}"></script>
<script th:src="@{/js/modal-window.js}"></script>
</body>
</html>