<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <header><span>Chirper</span></header>

    <div class="content">
        <form class="form" id="formRegister" th:action="@{/register}" th:method="POST">
            <label>Username</label>
            <input name="username" type="text">
            <label>Password</label>
            <input name="password" type="password">
            <label>Confirm Password</label>
            <input name="confirmPassword" type="password">
            <input id="btnRegister" value="Register" type="submit">
            <a th:href="@{/login}">Log in</a>
        </form>
    </div>

    <footer><p>Chirper &copy; 2019</p></footer>
</div>
</body>
</html>