<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="main">
    <th:block th:replace="fragments/header"></th:block>

    <th:block th:replace="fragments/navbar"></th:block>

    <div class="content">
        <div class="chirper">
            <h2 class="titlebar" th:text="${currentLoggedUser.username}"></h2>
            <form id="formSubmitChirp" th:action="@{/chirp/edit/{id}(id = ${#strings.listSplit(#httpServletRequest.requestURI, '/')[2]})}" class="chirp-form" method="post">
                <textarea name="content" class="chirp-input" th:field="${chirp.content}"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Edit" type="submit">
            </form>
        </div>
    </div>

    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>